<div class="container">
  <div class="trans-bg">
    <div class="jumbotron text-center">
      <h1 class="display-4 text-white mt-5 mb-0">Welcome to BRG Classes</h1>
      <h3 class="text-info">Helping students to be Job-ready</h3>
      <p class="lead text-white-75">(Website under construction)</p>
      <a class="btn btn-warning font-weight-lighter px-4 btn-lg" href="https://brgtrainings.com" role="button">Visit my self-learning platform</a>
    </div>
  </div>
</div>
