<section class="banner">
  <div class="container">
    <div class="welcome text-center">
      <h1 class="text-white mt-5 mb-0">Welcome to <span class="mb-block"></span>ITLH Nepal</h1>
      <p class="text-warning">
        <%= link_to  "ITLH", "https://itliteracyforhuman.org", class: 'text-white' %> implementation in Nepal
      </p>
      <h2 class="text-info">Improving IT Literacy in Nepal</h2>
      <p class="text-white">
        ( Basic IT education is the fundamental right of human in today's time. )
      </p>
      <p class="lead text-white-75 mb-4">(Platform will be live soon ...)</p>
      <%= link_to "Join Self Taught IT Students Group", "https://facebook.com/groups/selftaughtitstudents/", target: "_blank", class: "btn btn-sm btn-outline-light mb-xs-4 px-4" %>
      <%= link_to "Join Self Taught IT Engineers Group", "https://facebook.com/groups/selftaughtitengineers/", target: "_blank", class: "btn btn-sm btn-success px-4" %>
    </div>
  </div>
</section>
