// add custom css/scss
// sticky footer
#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  flex-shrink: none;
}
.banner {
  padding: 10rem 0 9rem 0;
  background-color: #2196F3;
  position: relative;
  background-size: cover;
  background-image: asset_url('overlay.svg'), linear-gradient(121deg, rgba(26,66,185,1) 0%, rgba(147,123,223,1) 90%);
  height: 100vh;

  svg.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .welcome {
    h1 {
      font-size: 4rem;
      color: #fff;
    }
  }
  .tagline {
    color: #ddd;
    font-size: 18px;
    font-style: italic;
  }
}
