// add custom css/scss
// sticky footer
#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  flex-shrink: none;
}
.jumbotron {
  background-image: linear-gradient(rgba(92,77,66,0.8) 0%, rgba(92,77,66,0.8)), asset_url('bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 600px;
}
